<div class="card card-search-tips">
  <div class="card-header blue-grey white-text">
    <i class="material-icons icon-idea left">wb_incandescent</i> How to search on Grantmakers.io like a pro
  </div>
  <div class="card-content">
    <span>There are two ways to search for information, driven by the primary goal of your search.<!-- Grantmakers.io provides direct access to the electronic IRS 990 datatset. We've pulled the useful components and made them fully searchable.--></span>
    <div class="divider"></div>
    <div class="row flex">
      <div class="col s12 m6 flex flex-direction-column">
        <ul class="search-details-header">
          <li class="text-bold"><a class="grantmakers-text" href="{{ site.baseurl }}/search/profiles/"><i class="material-icons left">find_in_page</i> Profiles Search</a></li>
          <li class="small">Perfect for researching a specific foundation</li>
        </ul>
        <div class="flex flex-grow-1">
          <ul class="search-details-content card card-flex grey lighten-4 z-depth-0">
            <li class="small">Search by</li>
            <li class="small">Name</li>
            <li class="small">EIN</li>
          </ul>
        </div>
        
      </div>
      <div class="col s12 m6 flex flex-direction-column">
        <ul class="search-details-header">
          <li class="text-bold"><a class="blue-grey-text" href="{{ site.baseurl }}/search/grants/"><i class="material-icons left">find_in_page</i> Grants Search</a></li>
          <li class="small">Discover new prospects</li>
        </ul>
        <div class="flex flex-grow-1">
          <ul class="search-details-content card card-flex grey lighten-4 z-depth-0">
            <li class="small">Search by</li>
            <li class="small">Keyword</li>
            <li class="small">Location</li>
            <li class="small">Past Grantees</li>
            <li class="small">Grant Amount</li>
          </ul>
        </div>
      </div>
    </div>
      
      
      <!-- <p class="text-light">Use our <a href="{{ site.baseurl }}/search/grants/" class="blue-grey-text text-bold">Grants Search</a> tool for basic prospecting.</p> -->
  </div>
  <div class="card-action">
    <small>DATA SOURCE: Public electronic IRS 990 dataset</small>
  </div>
</div>