---
---
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.jpg">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}" />

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!-- Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />

	<!-- CSS Files -->
  <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
</head>

<body class="landing-page">

	{% include nav-no-search.html %}

	<div class="wrapper">
		<!--
		<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
		-->
		<div class="header header-filter" style="background-image: url('{{ site.baseurl }}/assets/img/files.jpg">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="title">Amazing data exists in the <span class="deep-orange-text text-lighten-3">IRS 990-PF</span> dataset</h1>
						<h4>We make it easy for nonprofit professionals to find the basic information you need, quickly. If a foundation files taxes electronically, you'll find them on Grantmakers.io.</h4>
						<br />
						<a href="{{ site.baseurl }}/search/profiles/" class="btn btn-danger btn-raised btn-lg">
							<i class="material-icons">search</i> Find a Profile
						</a>
						<a href="{{ site.baseurl }}/search/grants/" class="btn btn-info btn-raised btn-lg">
							<i class="material-icons">search</i> Search Grants
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="main main-raised main-landing">
			<div class="text-center">
				<div class="section container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="title">Foundation Profiles</h2>
							<h4>Basic stats, full grant listings, and key personnel.</h4>
						</div>
					</div>
				</div>
				<hr class="container">
				<div class="section">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="card card-plain card-feature">
									<div class="row">
										<div class="col-sm-5">
											<div class="card-image">
												<img class="img img-rounded img-raised img-responsive" src="{{ site.baseurl }}/assets/img/screenshot-summary-zoom.png">
											</div>
										</div>
										<div class="col-sm-7">
											<h6 class="category text-info">Summary Info</h6>
											<h3 class="card-title">
												Fast information at your fingertips
											</h3>
											<p class="card-description">
												What's the average grant size? Is the foundation professionally managed? Get a quick snapshot of every foundation.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="card card-plain card-feature">
									<div class="row">
										<div class="col-sm-7">
											<h6 class="category text-info">World class search</h6>
											<h3 class="card-title">
												Search through past grants
											</h3>
											<p class="card-description">
												Profiles contain an embedded grants database allowing you to search across grants from all years. Search provided by our friends at <a href="{{ site.algolia_link }}"><img class="algolia-logo-inline" src="{{ site.baseurl }}/assets/img/algolia-light-bg.svg" alt="Algolia logo"></a>.
											</p>
											<p><a href="{{ site.baseurl }}/search/profiles/" class="btn btn-round btn-danger">Find a profile</a></p>
										</div>
										<div class="col-sm-5">
											<div class="card-image">
												<img class="img img-raised" src="{{ site.baseurl }}/assets/img/screenshot-facet.png">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="section">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="card card-plain card-feature">
									<div class="row">
										<div class="col-sm-5">
											<div class="card-image">
												<img class="img img-raised" src="{{ site.baseurl }}/assets/img/screenshot-search-zoom.png">
											</div>
										</div>
										<div class="col-sm-7">
											<h6 class="category text-info">Giving trends</h6>
											<h3 class="card-title">
												Understand giving priorities
											</h3>
											<p class="card-description">
												View a foundation's historical giving trends to see if your organization is a match.
											</p>
										</div>
									</div>
								</div>
								<hr>
								<div class="section">
									<h4>Open source and forever free</h4>
									<a href="{{ site.baseurl }}/search/profiles/" class="btn btn-danger btn-lg">Start your search</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section section-feature-grants-search blue-grey white-text">
					<h6>Announcing</h6>
					<h2>In partnership with <a href="{{ site.algolia_link }}"><img src="{{site.baseurl}}/assets/img/algolia-dark-bg.svg" alt="Algolia logo"></a> ...</h2>
				</div>
				<div class="section">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="title">Global Grants Search<span class="label label-info label-beta hidden-xs">BETA</span></h2>
							<h4>Now anyone can search across all grants contained in the IRS dataset. <br class="hidden-xs">No sign in required. Forever free.</h4>
						</div>
					</div>
				</div>
				<hr class="container">
				<div class="section">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="card card-plain card-feature">
									<div class="row">
										<div class="col-sm-7">
											<h6 class="category text-info">Research</h6>
											<h3 class="card-title">
												Search through {{ site.number_of_grants | divided_by: 1000000 }}.{{ site.number_of_grants | modulo: 1000000 | divided_by: 100000 }} million grants
											</h3>
											<p class="card-description">
												Thanks to our partnership with <a href="{{ site.algolia_link }}">Algolia</a>, we've developed an incredible search tool allowing anyone to search across all {{ site.number_of_grants | divided_by: 1000000 }}.{{ site.number_of_grants | modulo: 1000000 | divided_by: 100000 }} million grants contained in the IRS dataset.
											</p>
										</div>
										<div class="col-sm-5">
											<div class="card-image">
												<img class="img img-raised" src="{{ site.baseurl }}/assets/img/screenshot-count.png">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="card card-plain card-feature">
									<div class="row">
										<div class="col-sm-5">
											<div class="card-image">
												<img class="img img-raised" src="{{ site.baseurl }}/assets/img/screenshot-similar.png">
											</div>
										</div>
										<div class="col-sm-7">
											<h6 class="category text-info">Prospecting</h6>
											<h3 class="card-title">
												Find foundations that fund similar organizations
											</h3>
											<p class="card-description">
												Live search allows you to quickly cover all relevant search terms. One funder's gender equality is another's gender parity.
											</p>
											<p><a href="{{ site.baseurl }}/search/grants/" class="btn btn-round btn-info">Search all grants</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="section landing-section grey lighten-4">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2>The mission of Grantmakers.io is to help make charitable data more accesssible</h2>
						</div>
					</div>
				</div>
				<div class="section section-closing">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h4 class="white-text">Current stats</h4>
							</div>
							<div class="col-sm-4 col-lg-2 col-lg-offset-3">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h3 class="panel-title">Foundations</h3>
									</div>
									<div class="panel-body">
										<h1>{{ site.number_of_foundations | divided_by: 1000 | append: "k" }}</h1>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-lg-2">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h3 class="panel-title">Filings</h3>
									</div>
									<div class="panel-body">
										<h1>{{ site.number_of_filings | divided_by: 1000 | append: "k" }}</h1>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-lg-2">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h3 class="panel-title">Grants</h3>
									</div>
									<div class="panel-body">
										<h1>{{ site.number_of_grants | divided_by: 1000000 }}.{{ site.number_of_grants | modulo: 1000000 | divided_by: 100000 | append: "m" }}</h1>
									</div>
								</div>
							</div>
							<div class="col-sm-12 white-text">
								<h6>Last updated {{ site.last_updated | date: "%b %d, %Y" }} </h6>
							</div>
						</div>
					</div>
				</div>
				<div class="section grey lighten-4">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h4>As a community project, your input guides what information we pull from the dataset and show in profiles. Not finding what you need in the foundation profiles? <a href="mailto:hello@grantmakers.io">Just let us know.</a></h4>
						</div>
					</div>
				</div>
				<div class="section container">
					<div class="row">
						<h2>Get started</h2>
						<a href="{{ site.baseurl }}/search/profiles/" class="btn btn-danger btn-raised btn-lg">
							<i class="material-icons">search</i> Find a Profile
						</a>
						<a href="{{ site.baseurl }}/search/grants/" class="btn btn-info btn-raised btn-lg">
							<i class="material-icons">search</i> Search Grants
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
	{% include footer-license-and-links.html %}
	{% include ga.html %}
</body>

<!--   Core JS Files   -->
	<script src="{{ site.baseurl }}/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/assets/js/material.min.js"></script>

	<!-- Initialize material design and bootstrap effects + other page-specific JS -->
	<script src="{{ site.baseurl }}/assets/js/pages.js" type="text/javascript"></script>

</html>
