{% raw %}
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col s6">
          <ul class="inline-list hit-summary-icons">
            <li class="left">
              {{#eobmf_recognized_exempt}}
              <i class="material-icons material-icons-active tooltipped" data-tooltip="IRS recognizes as exempt in<br>current Business Master File">verified</i>
              {{/eobmf_recognized_exempt}}
              {{^eobmf_recognized_exempt}}
              <i class="material-icons tooltipped" data-tooltip="Does not appear in current IRS<br>Business Master File of exempt organizations">new_releases</i>
              {{/eobmf_recognized_exempt}}
            </li>
            <li class="left">
              {{#grants_to_preselected_only}}
              <i class="material-icons tooltipped" data-tooltip="Grants to preselected organizations only.<br>Part XV Line 2 is checked.">lock</i>
              {{/grants_to_preselected_only}}
              {{^grants_to_preselected_only}}
              <i class="material-icons material-icons-active tooltipped" data-tooltip="Possibly accepts unsolicited applications.<br>Part XV Line 2 is unchecked.">lock_open</i>
              {{/grants_to_preselected_only}}
            </li>
            <li class="left">
              {{#enable_algolia_search}}
              <i class="material-icons material-icons-active tooltipped" data-tooltip="Profile contains a searchable<br>grants database">policy</i>
              {{/enable_algolia_search}}
              {{^enable_algolia_search}}
              <i class="material-icons tooltipped" data-tooltip="A searchable grants database<br>is not required">policy</i>
              {{/enable_algolia_search}}
            </li>
          </ul>
        </div>
        <div class="col s6 right-align">
          <span class="text-light tooltipped" data-tooltip="EIN">{{ ein_formatted }}</span>
        </div>
      </div>
      <span class="card-title">
        <a class="hit-name" href="https://grantmakers.io/profiles/{{ ein }}" title="View Profile">{{#helpers.highlight}}{ "attribute": "organization_name" }{{/helpers.highlight}}</a>
      </span>
      <p class="grantmakers-text">{{#helpers.highlight}}{ "attribute": "city" }{{/helpers.highlight}}, {{#helpers.highlight}}{ "attribute": "state" }{{/helpers.highlight}}</p>
      <ul class="list-inline hit-summary-financials grey lighten-4">
        <li>
          <h6 class="text-muted">{{ assets }}<br><small>Total Assets</small></h6>
        </li>
        <li class="right center">
          <!-- TODO Add asterisk if grants_reference_attachment-->
          {{#grants_reference_attachment}}
          <h6 class="text-muted tooltipped" data-tooltip="Full grants list may be available elsewhere in Form 990PF">{{ grant_count }}*<br><small>Grant{{^grant_count_only_one}}s{{/grant_count_only_one}}</small></h6>
          {{/grants_reference_attachment}}
          {{^grants_reference_attachment}}
          <h6 class="text-muted tooltipped" data-tooltip="No. of grants listed in<br>latest tax filing<br>FY {{filings.0.tax_year}}">{{ grant_count }}{{#grants_reference_attachment}}*{{/grants_reference_attachment}}<br><small>Grant{{^grant_count_only_one}}s{{/grant_count_only_one}}</small></h6>
          {{/grants_reference_attachment}}

        </li>
        <li class="right center">
          <h6 class="text-muted tooltipped" data-tooltip="Max {{grant_max}}<br>Min {{grant_min}}">{{ grant_median }}<br><small>Median Grant</small></h6>
        </li>
      </ul>
      
    </div>
  </div>
{% endraw %}