<div id="no-results-ctas" class="hits-empty">
  <div class="card">
    <div class="card-content">
      {% raw %}
      <p>No results found for your query <strong>"<span>${results.query}</span>"</strong></p>
      {% endraw %}
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      {% raw %}
      <p>You conducted a Profiles Search ${paramsText}</p>
      {% endraw %}
    </div>
  </div>
  <div class="card z-depth-0 grey lighten-4">
    <div class="card-content">
      <div class="card-title">Not looking for a specific funder?</div>
      {% raw %}
      <p>Try your query using a <a href="{{ site.baseurl }}/search/grants/?query={{ query }}" data-ga="Grants Search">Grants Search</a></p>
      {% endraw %}
    </div>
  </div>
  <div class="card z-depth-0 grey lighten-4">
    <div class="card-content">
      <div class="card-title">
        Get to know Grantmakers.io
      </div>
      <p><a href="{{ site.baseurl }}/about/tips-and-tricks/" data-ga="Get to know link">Tips and tricks</a> to get the most out of your searches</p>
    </div>
  </div>
</div>