<footer class="footer">
	<div class="container">
		<nav class="pull-left">
			<ul>
				<li>
					<a href="https://github.com/grantmakers">
						Code
					</a>
				</li>
				<li>
					<a href="https://github.com/grantmakers/grantmakers.github.io/issues">
						Feature Requests
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright pull-right">
			&copy; 2017, Built with <i class="material-icons">favorite</i> by <a href="https://smartergiving.org">
			SmarterGiving
		</a>.
	</div>
</div>
</footer>