<footer class="footer">
	<div class="container">
		<!--
		<div class="header-intro-list text-center">
			<ul class="list-inline">
				<li><a href="{{ site.baseurl }}/about/" class="btn btn-danger btn-large btn-raised">Learn More</a></li>
			</ul>
		</div>
		-->
		<nav class="pull-left">
			<ul>
				<li>
					<a href="https://github.com/grantmakers/grantmakers.github.io" target="_blank">
						<i class="material-icons">code</i> View the Code
					</a>
				</li>
				<li>
					<a href="https://github.com/grantmakers/grantmakers.github.io/issues" target="_blank">
						<i class="material-icons">lightbulb_outline</i> Suggest a Feature
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright pull-right">
			&copy; 2017 Built with <i class="material-icons">favorite</i> by <a href="https://smartergiving.org">
			SmarterGiving
		</a>.
	</div>
</div>
</footer>