<footer class="footer">
	<div class="container">
		<!--
		<div class="header-intro-list text-center">
			<ul class="list-inline">
				<li><a href="{{ site.baseurl }}/about/" class="btn btn-danger btn-large btn-raised">Learn More</a></li>
			</ul>
		</div>
		-->
		<div class="row">
			<div class="col-md-6">
				<nav class="text-left">
					<ul>
						<li><a href="{{ site.baseurl }}/about/">About</a></li>
						<li><a href="https://github.com/grantmakers/grantmakers.github.io" target="_blank">View the Code</a></li>
						<li><a href="https://github.com/grantmakers/grantmakers.github.io/issues" target="_blank">Suggest a Feature</a></li>
						<li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-6">
				<div class="copyright text-right">
				Built with <i class="material-icons">favorite</i> by <a href="https://smartergiving.org">
				SmarterGiving
				</a>
			</div>
		</div>
	</div>
</div>
</footer>