<nav class="navbar navbar-transparent navbar-absolute">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{ site.baseurl }}/">
	    	<div class="logo-container">
	        <div class="logo">
	           <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Grantmakers Logo" rel="tooltip" title="<b>Grantmakers.io</b> is a free tool from your friends at <b>SmarterGiving</b>" data-placement="bottom" data-html="true">
	        </div>
	        <div class="brand brand-name">
	          Grantmakers.io
	        </div>
				</div>
	    </a>
		</div>

		<div class="collapse navbar-collapse" id="navigation-example">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{ site.baseurl }}/profiles-search/">
						<i class="material-icons">assignment</i> Find a Foundation Profile
					</a>
				</li>
				<li>
					<a href="{{ site.url }}/grants-search">
						<i class="material-icons">search</i> Search all Grants
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>