<!-- Removed this modal in favor of a more direct link to donor profile -->
<div id="modal-grant-detail-{{ objectID }}" class="modal modal-algolia-hit">
  <div class="modal-content">
    <div class="modal-close right"><i class="material-icons">close</i></div>
    <h5>Grant Detail</h5>
  
    <div class="row">
      <div class="col m9">
        <div class="modal-algolia-hit-label">Name</div>
        <p class="text-thin"><strong>{{ grantee_name }}</strong><br>{{ grantee_city }}{{#grantee_state}}, {{ grantee_state }}{{/grantee_state}}</p>
        <div class="modal-algolia-hit-label">Donor</div>
        <p><a href="https://www.grantmakers.io/profiles/{{ ein }}">{{ organization_name }}</a></p>
      </div>
      <div class="col m3">
        <div class="modal-algolia-hit-label">Amount</div>
        <p>{{ grant_amount }}</p>
        <div class="modal-algolia-hit-label">Tax Year</div>
        <p>{{ tax_year }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <div class="modal-algolia-hit-label">
          Grant Purpose
        </div>
        <p>{{ grant_purpose }}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="divider divider-no-margin"></div>
    <a class="btn-flat" href="https://www.grantmakers.io/profiles/{{ ein }}/">Donor Profile</a>
    {{#website}}
    <!-- The current algolia index for grants does not yet contain website info -->
    <!-- Thus, this will currently never show a second button -->
    <!-- Will need to handle 'mailto' entries if hooked up in future -->
    <a class="btn-flat" href="{{ website }}">Donor Website</a>
    {{/website}}
  </div>
</div>