{% raw %}
<div class="row row-grant-names">
  <div class="col s12 m6">
    <span class="text-bold">{{#helpers.highlight}}{ "attribute": "grantee_name" }{{/helpers.highlight}}</span> <!--<span class="text-muted small">({{ tax_year }})</span>-->
  </div>
  <div class="col s12 m5">
    <a class="truncate text-light" href="https://www.grantmakers.io/profiles/{{ ein }}" title="View foundation profile">{{ organization_name }}</a>
  </div>
  <div class="col m1 hide-on-small-only">
    <div class="actions-wrapper center-align">
      <a href="#" class="dropdown-trigger dropdown-trigger-hits blue-grey-text" data-target="{{ _id }}"><i class="material-icons md-18">more_vert</i></a>
      <ul id="{{ _id }}" class='dropdown-content'>
        <li><a href="https://www.grantmakers.io/profiles/{{ ein }}"><i class="material-icons md-18 left">list_alt</i>View Foundation Profile</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row"> 
  <div class="col s12 m6">
    <span class="small text-light">
      {{#grantee_city}}
        {{#helpers.highlight}}{ "attribute": "grantee_city" }{{/helpers.highlight}}, {{ grantee_state }}
      {{/grantee_city}}
    </span>
  </div>
  <div class="col s12 m5">
    <span class="small text-light">
      {{ grant_amount }}
    </span>
  </div>            
</div>

<div class="row">
  <div class="col s10 grant-purpose">
    <span class="text-muted-max small">{{#helpers.highlight}}{ "attribute": "grant_purpose" }{{/helpers.highlight}} ({{ tax_year }})</span>
  </div>
</div>
{% endraw %}