module.exports = {
  'gce': {
    'host': '127.0.0.1',
    'user': 'foo',
    'password': 'abcDEFghiJKLmnoPQR',
    'database': 'bar',
    'authDatabase': 'baz',
  },
  'algolia': {
    'appID': 'ABCDEF123456',
    'apiKey': '123456abcdef7890ghijklmno',
    'indexName': 'example_name',
  },
};
