---
permalink: /about/
---
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.jpg">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}" />

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!-- Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.ion.rangeslider/2.0.12/css/ion.rangeSlider.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.ion.rangeslider/2.0.12/css/ion.rangeSlider.skinNice.css">

	<!-- CSS Files -->
  <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

</head>

<body class="landing-page">

	{% include nav-no-search.html %}

	<div class="wrapper">
		<div class="header header-filter" style="background-image: url('{{ site.baseurl }}/assets/img/building.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="title">Making charitable data more accessible</h1>
						<h4><strong>Grantmakers.io is a community project.</strong> Its simple goal is to demonstrate how open source technologies can be leveraged to minimize the cost of hosting and sharing philanthropic data.</h4>
						<br />
						<a href="{{ site.baseurl }}/" class="btn btn-danger btn-raised btn-lg">
							<i class="material-icons">search</i> Start your Search
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="main main-raised">
			<div class="container">
				<div class="section text-center section-landing">
					<div class="about-headline">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<h2 class="title">Free and open source</h2>
								<h5 class="description">Grantmakers.io is an open-source project, with the entire code base available for anyone to <a href="https://github.com/grantmakers/grantmakers.github.io">view or download</a>.</h5>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<hr>
							</div>
						</div>
					</div>

					<div class="features">
						<div class="row">
							<div class="col-md-4">
								<div class="info">
									<div class="icon icon-info">
										<i class="material-icons">code</i>
									</div>
									<h4 class="info-title">Code meant to inspire</h4>
									<p>We have no intention of building the next Foundation Center or Guidestar. We aim to inspire, not compete.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="info">
									<div class="icon icon-warning">
										<i class="material-icons">people</i>
									</div>
									<h4 class="info-title">Built for humans</h4>
									<p>Search as fast as Google. Data as digestible as your iPhone calendar.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="info">
									<div class="icon icon-success">
										<i class="material-icons">money_off</i>
									</div>
									<h4 class="info-title">Free forever</h4>
									<p>The site can handle millions of searches per month at ZERO COST to us or anyone else.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr class="divider container">

				<div class="section text-center">
					<div class="about-closing">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<h2 class="title">A community project from</h2>
								<a href="https://smartergiving.org"><img src="{{ site.baseurl }}/assets/img/smartergiving.png" alt="SmarterGiving Logo"></a>
							</div>
						</div>
					</div>
				</div>

				<hr class="divider container">

				<!--
				<div class="section">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center title">Get in touch</h2>
							<h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4>
							<form class="contact-form">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Your Name</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Your Email</label>
											<input type="email" class="form-control">
										</div>
									</div>
								</div>

								<div class="form-group label-floating">
									<label class="control-label">Your Messge</label>
									<textarea class="form-control" rows="4"></textarea>
								</div>

								<div class="row">
									<div class="col-md-4 col-md-offset-4 text-center">
										<button class="btn btn-primary btn-raised">
											Send Message
										</button>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			-->

				<div class="section landing-section">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<a href="mailto:opensource@smartergiving.org" class="btn btn-info btn-large btn-raised">
								<i class="material-icons">email</i> Contact us
							</a>
							<a href="{{ site.baseurl }}/" class="btn btn-danger btn-large btn-raised">
								<i class="material-icons">search</i> Start your search
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
	{% include footer-license-and-links.html %}
	{% include ga.html %}
</body>

<!--   Core JS Files   -->
	<script src="{{ site.baseurl }}/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/assets/js/material.min.js"></script>

	<!-- Initialize material design and bootstrap effects + other page-specific JS -->
	<script src="{{ site.baseurl }}/assets/js/pages.js" type="text/javascript"></script>

</html>
