---
layout: simple-no-hero
title: Grantmakers.io - Frequently Asked Questions
permalink: /faq/
---
{% include nav-no-search.html %}

<div class="wrapper">
	<div class="header header-filter" style="background-image: url('{{ site.baseurl }}/assets/img/light-bulb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h1 class="title">Frequently Asked Questions</h1>
					<h4>Simple answers to common questions</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<div class="container">
			<div class="section section-faq">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<h3>Where does the data come from?</h3>
						<p>IRS Form 990-PF published in machine-readable format. The raw data files are released by the IRS on a rolling basis and hosted by <a href="https://aws.amazon.com/public-datasets/irs-990/">Amazon Web Services</a>.</p>
						<h3>Do you make any changes to the data?</h3>
						<p>All data found on Grantmakers.io is presented exactly as found in the tax filings, with the following exceptions:</p>
						<ul>
							<li>City names are converted from UPPERCASE to Titlecase as needed.</li>
							<li>An 'N/A' label is added to missing or omitted fields in foreign address listings (e.g. if the state field is omitted, Grantmakers.io shows the 'N/A' label).</li>
							<li>Grants listings for Bank of America Charitable Foundation are limited to tax years 2016 and later.</li>
						</ul>
						<h3>Can profiles be edited or removed?</h3>
						<p>We have no control over the information provided in the public dataset by the IRS. Any inquiries as to removing information should be made <a href="https://www.irs.gov/e-file-providers/e-file-for-charities-and-non-profits">directly with the IRS</a>.</p>
						<h3>Does open source mean I can copy this site?</h3>
						<p>Yes, and we hope you do! All source code and content is <a href="https://github.com/grantmakers/grantmakers.github.io">published on Github</a> and liberally licensed for open use with the following exceptions: 1) we reserve all rights to the Grantmakers.io brand and logo, and 2) all third party logos and brands are property of their respective owners. In short, don't use any logos.</p>
						<h3>Why is Grantmakers.io free?</h3>
						<p>The better question is why should it cost anything? The source data is published for free by the IRS. The site is hosted for free by Github Pages. The search is provided for free by Algolia. There is zero cost in hosting and maintaining this site.</p>
						<h3>Who are the people behind this?</h3>
						<p>Hi, I'm <a href="https://www.chadkruse.com">Chad Kruse</a>, the primary author behind Grantmakers.io. While most of the public code commits have my name on them, I couldn't have built this site without the counsel of good friend <a href="https://www.linkedin.com/in/joseph-lepis-2700934">Joseph Lepis</a> and all of the amazing developers behind the open source projects leveraged to make this site.</p>
						<h3>How do I get involved?</h3>
						<p><a href="https://github.com/grantmakers/grantmakers.github.io">Fork the code</a> and tell the world what you made and why you made it. We built this site and open sourced all the code to inspire others to explore new ways to disseminate and share philanthropic data.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	

</div>
{% include footer.html %}
{% include footer-license-and-links.html %}
