---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="homepage">

  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="{{ site.baseurl }}" class="logo"><img src="{{ site.baseurl }}/images/{{ site.logo }}"></a>
        <h1>
          Grantmakers.io
        </h1>
        <h2>
          A freely accessible tool to gain insights into grantmaking institutions
        </h2>
        {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
    <div class="content">
      <div class="about-info">
        {{ content }}
      </div>
    </div>
  </div>
  {% include scripts.html %}
</body>
</html>
